.back-btn {
    width: fit-content;

    padding: 6px 20px 6px 8px;

    display: flex;
    align-items: center;
    gap: 17px;

    border-radius: 61px;
    background: #191617;

    cursor: pointer;

    .back-btn__circle {
        width: 37px;
        height: 37px;

        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #fff;
    }

    .back-btn__text {
        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}