.type-lessons {
  width: calc(100% - 40px);

  border-radius: 10px;
  border: 1px solid var(--month-switcher-bg);

  padding: 15px 20px;

  .type-lessons__title {
    color: var(--timetable-type-text);
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .type-lessons__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}