.task-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .task-block__block {
        display: flex;
        gap: 40px;
        align-items: flex-end;

        .task-block__title {
            color: rgba(0, 0, 0, 0.50);
            font-family: Montserrat, sans-serif;
            font-size: 25.6px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .task-block__tasks-title {
            color: #343434;
            font-family: Montserrat, sans-serif;
            font-size: 12.8px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .task-block__tasks {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .task-block__task-list {
            display: flex;
            align-items: center;
            gap: 13px;
        }
    }
}

.task-block__task-squares-list {
    display: flex;
    gap: 14px;
}