.task-block__task {
    position: relative;

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4.8px;
    border: 0.8px solid #000;

    color: var(--text-color-main);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 15.36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.task-block__task_solved {

}
.task-block__task_not_solved {

}

.task-block__task_need_check {
    
}