.loader__bal {
  position: absolute;

  width: 25px;
  height: 25px;

  border-radius: 50%;

  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.loader__ball_black {
  background: #191617;

  transform: translate(-30px, -20px);

  animation-name: loading-black;
}

.loader__ball_red {
  background: #F54;

  transform: translate(30px, -20px);

  animation-name: loading-red;
}

.loader__ball_blue {
  background: #3D3AFF;
  transform: translate(0, 25px);

  animation-name: loading-blue;
}

@keyframes loading-red {
  0% {
    transform: translate(30px, -20px);
  }
  25% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(-30px, -20px);
  }
  75% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(30px, -20px);
  }
}

@keyframes loading-blue {
  0% {
    transform: translate(0, 25px);
  }
  25% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(30px, -20px);
  }
  75% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0, 25px);
  }
}

@keyframes loading-black {
  0% {
    transform: translate(-30px, -20px);
  }
  25% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(0px, 25px);
  }
  75% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-30px, -20px);
  }
}