.loader {
  position: fixed;
  left: 50%;
  bottom: 50%;

  transform: translate(-50%, -50%);

  font-size: 20px;

  z-index: 10;

  pointer-events: none;
}

.loader_loaded {
  opacity: 0;
}

.loader-page {
  position: fixed;
  top: 60px;
  left: 0;

  width: 100vw;
  height: calc(100vh - 60px);

  //background: #F8F9FD;

  pointer-events: none;

  z-index: 10;
}