.support-icon {
  position: fixed;

  bottom: 65px;
  left: 90px;

  .support-icon__supp {
    width: 45px;
    height: 45px;

    background: #000;
    border-radius: 50%;

    cursor: pointer;
  }

  z-index: 10;
}