.button-ui {
  cursor: pointer;

  border: 1px solid #0337EF;
  border-radius: 10px;

  padding: 12px 24px;

  color: #0337EF;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;

}
.button-ui_theme_blue {
  background: #0337EF;
  color: #FDFDFD;
}