.attendence-info {
    width: calc(100% - 70px);

    padding: 26px 35px;

    display: flex;
    flex-direction: column;


    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #000;

    .attendence-info__title {
        width: 100%;

        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .attendence-info__status-info {
        display: flex;
        flex-direction: column;
        gap: 14px;

        margin-top: 42px;
    }
}