.student-info__mini {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-info__mini-data {
    padding: 10px 24px;

    display: flex;
    align-items: center;
    gap: 20px;

    border-radius: 12px;
    background: #191617;
    box-shadow: 0px 2.56px 9.6px 0px rgba(0, 0, 0, 0.13), 0px 0.48px 1.44px 0px rgba(0, 0, 0, 0.11);

    .student-info__name {
        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .student-info__avatar {
        width: 49px;
        height: 49px;

        border-radius: 50%;
        background: var(--color-purple);
    }
}