.auth-page {
    position: relative;

    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;

    .auth-page__container {
        position: relative;

        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 35% auto;

        z-index: 1;
    }

    .auth-page__left-side {
        width: calc(100% - 150px);
        height: 100%;

        background: var(--header-bg);

        padding-right: 150px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .auth-page__logo {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 500px;
        }
    }
}