.auth-form {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 56px;

    .auth-form__inputs {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .auth-form__addon-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .auth-form__forgot-password {
            color: var(--color-blue);
            text-align: center;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 23px;
        }
    }

    .auth-form__btn {
        background: #191617;
        color: #fff;
    }
}