.group-card__status {
    margin-top: 40px;

    .group-card__status-title {
        color: #8391B9;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .group-card__status-inscription {
        color: var(--task-block-title);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.5px;
    }
}