.group-card__title {

    .group-card__course-title,
    .group-card__group-title {
        color: #191617;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .group-card__course-title {
        font-weight: 400;

        span {
            &:first-child {
                font-weight: 600;
            }
        }
    }
}