.day-info {
  position: relative;

  padding: 60px 30px 40px 50px;



  .day-info__title {
    color: #191617;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    flex-direction: column;
  }

  .day-info__theme {
    color: #191617;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 17px;
  }

  .day-info__line {
    width: 100%;
    height: 2px;
    background: #000;

    margin-top: 17px;
    margin-bottom: 36px;
  }

  .day-info__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .day-info__time {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span {
      &:nth-child(2) {
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }

  .day-info__delimiter {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, 0);
  }
}

