.course-modules__module {
  padding: 14px 24px;

  text-align: left;

  border-radius: 8px;
  border: 1.6px solid var(--module-border-color);

  cursor: pointer;

  color: var(--module-text-color);
  font-family: Montserrat, sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.course-modules__module_current {
  background: #000;

  color: #fff;
  font-size: 14px;

  border-color: #000;
}