.test-finished__greetings {
  .test-finished__title {
    color: #191617;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}