.group-page {
    width: 100%;
    height: calc(100vh - 170px);

    padding-top: 110px;
    padding-bottom: 60px;

    overflow: hidden;

    .group-page__info {
        margin-top: 32px;

        display: grid;
        grid-template-columns: 260px auto;
        gap: 117px;
    }
}

.student-group-card_fio {
    p {
        max-width: 50px;
    }
}

.group-page__up-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .group-page__print-btn {
        cursor: pointer;

        padding: 12px 20px;
        background: #191617;
        border-radius: 61px;

        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
}