.test-page__task-side {
  position: relative;

  display: grid;
  grid-template-columns: auto 410px;
  gap: 20px;

  .code-editor {
    height: auto;
  }

  .task-status {
    position: absolute;
    top: 20px;
    right: 60px;

    color: #191617;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    z-index: 10;
  }
}