.theme_dark {
  --color-purple: #807EE3;

  --main-bg: #141414;
  --header-bg: #292929;

  --text-color-main: #fff;
  --text-header-nav: #fff;
  --text-header-current: #807EE3;

  --logo-up-ball: #FFFFFF;

  --tasks-header-color: #191617;
  --tasks-bg: #292929;
  --lesson-color: #FFF;

  --task-block-bg: #333333;
  --task-block-title: #fff;
  --task-block-btn-arrow: invert(1);

  --modules-list-bg: #333;
  --module-border-color: #424242;
  --module-text-color: #a7a7a7;


  --month-switcher-bg: #333;
  --timetable-type-text: #fff;
  --timetable-current-bg: rgba(92, 92, 164, 0.29);
  --timetable-border-current: rgba(92, 92, 164, 0.29);

  --svg-button: invert(1);

  --timetable-grid-bg: rgba(51, 51, 51, 0.57);
  --timetable-grid-bg-2: #333;
  --timetable-date-color: rgba(255, 255, 255, 0.77);
  --timetable-text-color: #fff;

  --code-editor-bg: #1e1e1e;

  --task-descr-bg: #292929;

  --task-title: #fff;
  --tab-current: #000;
  --tab-current-bg: #fff;
}