.knowledge-base-page {
    width: 100%;
    min-height: calc(100vh - 110px);

    padding-top: 110px;

    //background: #F8F9FD;

    .knowledge-base-page__course-list {
        margin-top: 36px;

        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}