.module-list {
    border-radius: 10px;
    border: 1px solid var(--text-color-main);

    padding: 26px 35px;

    background: var(--header-bg);

    .module-list__course-title {
        color: var(--text-color-main);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .module-list__list {
        margin-top: 6px;

        color: var(--text-color-main);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .module-list__subtitle {
            color: var(--text-color-main);
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .module-list__container {
            margin-top: 17px;

            display: flex;
            flex-direction: column;
            gap: 10px;

            .module-list__module {
                width: calc(100% - 20px);
                padding: 14px 10px;

                font-family: Montserrat, sans-serif;
                font-size: 12.8px;
                font-style: normal;
                font-weight: 400;
            }

            cursor: pointer;
        }
    }
}

.module-list__module_curr {
    border-radius: 3.2px;
    background: #191617;

    color: #fff;
}