.month-change {
    width: auto;
    padding: 20px 20px;

    background: #191617;

    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    .month-change__current {
        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.14px;
        text-transform: uppercase;
    }

    .month-change__btns {
        display: flex;
        align-items: center;

        .month-change__next,
        .month-change__prev {
            cursor: pointer;

            display: flex;
            align-items: center;

        }

        .month-change__prev {
            svg {
                transform: rotate(-180deg);
            }
        }
    }
}