.input-ui {
    position: relative;

    .input-ui__title {
        position: absolute;
        top: 0;
        left: 0;

        transform: translate(15px, -50%);

        background: var(--header-bg);

        padding: 0 11px;

        color: var(--text-color-main);
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }

    .input {
        width: 250px;
        height: calc(50px - 40px);

        padding: 20px;

        outline: none;

        border-radius: 10px;
        border: 1px solid var(--task-block-title);
        background: transparent;

        &,
        &::placeholder {
            color: var(--grey-H1, var(--task-block-title));
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
        }
    }
}

.input-ui_error {
    .input {
        border-color: #F54;
    }
}

.auth-error {
    max-width: 250px;

    color: #FF5544;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}