.code-editor {
  padding-top: 150px;

  .code-editor__editor {
    height: 400px;

    border-radius: 25px;
    border: 3px solid #4F4B5C;
    background: #FFF;

    overflow: hidden;

    padding-top: 47px;
    padding-left: 47px;
    padding-bottom: 47px;
  }
}