.week-switcher__arrow {
  border-right: 1px solid;
  border-color: var(--month-switcher-bg);

  padding: 0 20px;

  height: 40px;

  display: flex;
  align-items: center;

  cursor: pointer;

  svg {
    filter: var(--svg-button)
  }
}

.week-switcher__arrow_right {
  border-right: unset;
  border-left: 1px solid;
  border-color: var(--month-switcher-bg);

  svg {
    transform: rotate(180deg);
  }
}