.task-description__description {
  margin-top: 35px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  color: #191617;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}