.task-description__description {
  width: 100%;

  margin-top: 35px;


  display: flex;
  flex-direction: column;
  gap: 15px;

  color: #191617;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.task-description__md {
  width: 100%;

  code {
    font-size: 11px;
  }
}