.task-description__io-data {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;

    background: #D2CDFE;

    transform: rotate(45deg) translate(0px, -80%);

    z-index: 1;
  }

  .task-description__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 42px;

    padding: 15px;

    border-radius: 10px;

    border: 1px solid #000;

    color: #191617;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    background: #FFB74B;

    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;

      transform: translate(5px, -5px);

      width: 24px;
      height: 24px;

      background: #000;
    }
  }
}