.date-month {
    position: relative;

    width: 100%;
    height: calc(130px - 22px);

    border-left: 1px solid #4F4B5C;
    border-bottom: 1px solid #4F4B5C;
    border-right: 1px solid #4F4B5C;
    background: var(--timetable-grid-bg);

    overflow: hidden;

    cursor: pointer;


    .date-month__date {
        position: absolute;
        top: 14px;
        left: 20px;

        color: var(--timetable-date-color);
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: clamp(5px, 5px + .5vw, 15px);
        font-style: normal;
        font-weight: 600;
    }

    .date-month__data {
        width: calc(100% - 68px);

        padding: 14px 23px 0 45px;
    }
}

.date-month_another {
    background: var(--timetable-grid-bg-2);

    .date-month__date {
        color: #B3B3B3;
    }
}

.date-month_current {
    background: var(--color-purple);

    .date-month__date {
        color: #fff;
    }

    p,
    span {
        color: #fff;
    }
}
