.date-month {
    position: relative;

    width: 100%;
    height: calc(130px - 22px);

    display: grid;
    grid-template-columns: 60px 136px;

    border-left: 1px solid #4F4B5C;
    border-bottom: 1px solid #4F4B5C;
    border-right: 1px solid #4F4B5C;
    background: #FFF;

    overflow: hidden;

    padding-top: 22px;

    cursor: pointer;

    .date-month__date {
        width: 100%;

        color: #4F4B5C;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }
}

.date-month_another {
    background: #F8F9FD;



    .date-month__date {
        color: #B3B3B3;
    }
}

.date-month_current {
    background: #6C69FF;

    .date-month__date {
        color: #fff;
    }

    p,
    span {
        color: #fff;
    }
}