.date-month {
    position: relative;

    width: 100%;
    height: calc(130px - 22px);

    display: grid;
    grid-template-columns: auto auto;

    border-left: 1px solid #4F4B5C;
    border-bottom: 1px solid #4F4B5C;
    border-right: 1px solid #4F4B5C;
    background: #FFF;

    overflow: hidden;

    padding-top: 22px;

    cursor: pointer;

    .date-month__date {
        width: 60px;

        color: #4F4B5C;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 6.3px;
    }
}

.date-month_another {
    background: #F8F9FD;

    

    .date-month__date {
        color: #B3B3B3;
    }
}