.timetable-month {
    width: 100%;

    transform: translate(0, -42px);

    .timetable-month__weekdays {
        display: grid;
        grid-template-columns: repeat(7, auto);

        margin-bottom: 25px;

        .timetable-month__weekday {
            color: #B3B3B3;
            text-align: center;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
        }
    }
}