:root {
    --color-purple: #5669FF;
    --color-red: #FF5D6C;
    --color-blue: #3D3AFF;


    --header-bg: #fff;
    --main-bg: #F8F9FD;

    --logo-up-ball: #191617;

    --text-color-main: #191617;
    --text-header-nav: #000;
    --text-header-current: #3D3AFF;

    --tasks-header-color: #191617;
    --tasks-bg: #fff;
    --lesson-color: #191617;

    --task-block-bg: #FFFFFF;
    --task-block-title: #191617;
    --task-block-btn-arrow: invert(0);

    --modules-list-bg: #FFFFFF;
    --module-border-color: #F9F9F9;
    --module-text-color: #000;

    --month-switcher-bg: #000;
    --timetable-type-text: #4F4B5C;
    --timetable-current-bg: #EBEBFF;
    --timetable-border-current: #9E9CFF;

    --svg-button: invert(0);

    --timetable-grid-bg: #fff;
    --timetable-grid-bg-2: #F8F9FD;
    --timetable-text-color: #110C22;
    --timetable-date-color: #4F4B5C;

    --code-editor-bg: #fff;

    --task-descr-bg: #D2CDFE;

    --task-title: #343434;
    --tab-current: #fff;
    --tab-current-bg: #191617;
}