.schedule-day {
    width: 100%;
    height: calc(100vh - 110px);

    padding-top: 110px;

    overflow: hidden;

    //background: #F8F9FD;

    .schedule-day__container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
    }
}