.schedule-day__tab {
    width: 30px;
    height: 30px;

    border-radius: 7px;
    border: 1px solid var(--text-color-main);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color-main);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;

    margin-bottom: 10px;
}

.schedule-day__tab_current {
    color: var(--tab-current);
    background: var(--tab-current-bg);
}