.switcher {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    .switcher__btn {
        position: relative;

        width: 32px;
        height: 20px;

        border-radius: 20px;

        background: var(--color-purple);

        transition: all .3s;

        .switcher__circle {
            position: absolute;
            top: 50%;
            left: 0;

            transform: translate(2px, -50%);

            width: 15px;
            height: 15px;

            border-radius: 50%;

            background-color: #fff;

            transition: all .3s;
        }
    }

    .switcher__text {
        color: #191617;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
    }
}

.switcher_on {
    .switcher__btn {
        background: var(--color-purple);

        .switcher__circle {
            transform: translate(100%, -50%);
        }
    }
}

.switcher_off {
    .switcher__btn {
        background: #000;
    }
}