.checkbox-ui {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  .checkbox-ui__box {
    position: relative;

    width: 16px;
    height: 16px;

    border-radius: 3px;
    border: 1px solid #484644;

    transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 0 0 3px #19161730;
    }

    img {
      opacity: 0;
    }

    z-index: 2;
  }

  .checkbox-ui__text {
    color: var(--task-block-title);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.checkbox-ui_checked {
  .checkbox-ui__box {
    background: var(--task-block-title);

    img {
      opacity: 1;
      filter: var(--svg-button);
    }
  }
}

