.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    padding: 16px 0;

    background: var(--header-bg);

    z-index: 2;

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__nav-links {
            display: flex;
            align-items: center;
            gap: 34px;
        }
    }
}