.student-group-card__control {
    display: flex;
    align-items: center;
    gap: 20px;

   
}

.student-group-card__position {
    width: 23px;
    padding: 4px 0px;

    border-radius: 5px;
    background: #EFFF8E;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}