.student-group-card__info {

    .student-group-card__data,
    .student-group-card__title {
        color: #4F4B5C;
        font-family: Montserrat, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .student-group-card__data {
        margin-top: 11px;

        font-weight: 400;
    }
}

.student-group-card__info_center {
    .student-group-card__title,
    .student-group-card__data {
        text-align: center;
    }
}
.student-group-card__info_data_green {
    .student-group-card__data {
        color: #20B57F;
    }
}