* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #DFDFDF;
    border-radius: 20px;
  }
}

a {
  text-decoration: none;
}

