.notifications {
    position: absolute;
    top: 0;
    right: 0;

    height: calc(100vh - 40px);

    padding: 20px 40px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    gap: 20px;
}