.student-success-card__student-status {
  position: absolute;
  top: 0;
  right: 0;

  padding: 14px 20px;

  border-radius: 3.2px;
  background: #191617;

  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 12.8px;
  font-weight: 500;
}