.student-success-card__title {
  display: flex;
  gap: 40px;
  align-items: flex-start;

  .student-success-card__lesson,
  .student-success-card__theme {
    color: var(--text-color-main);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
}