.groups-page {
    width: 100%;
    height: calc(100vh - 110px - 50px);

    padding-top: 110px;
    padding-bottom: 50px;

    background: #F8F9FD;

    .groups-page__title {
        color: #343434;
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}