.btn-ui {
    width: 100%;

    padding: 13px 0;

    text-align: center;

    border-radius: 6px;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
}