.day-schedule-card__lesson-type {
  width: fit-content;

  padding: 10px 31px;

  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 6px;
}

.day-schedule-card__lesson-type_offline {
  background: #191617;
}

.day-schedule-card__lesson-type_online {
  background: #20B57F;
}