.day-schedule-card__left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title-ui {
    &:nth-child(1) {
      font-weight: 700;
      font-size: 24px;
    }
    &:nth-child(2) {
      max-width: 200px;

      font-weight: 400;
      font-size: 16px;
    }
  }
}